.header .brand-logo{
  padding-left: 20px;
  font-weight: 100;
}

.header .nav-wrapper {
  padding-right: 20px;
}

.jumbotron {
  background: url("../img/bg.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: top;
  padding-top: 80px;
  min-height: 720px;
}

.jumbotron .desc h1 {
    font-weight: 100;
    font-size: 3.85rem;
    line-height: 1.6;
    color: #ffffff;
    padding-top: 100px;
}
.jumbotron .desc h2 {
    font-weight: 100;
    font-size: 2.85rem;
    color: #ffffff;
  }

  .jumbotron .img-desc {
    max-width: 150%;
    margin-top: 10px;
}
